input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.perfil {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contenido {
    width: 90%;
    min-height: 460px;
    max-height: 550px;
    background-color: aliceblue;
}


.encabezado {
    width: 90%;
    background-color: coral;
}

.encabezado h2 {
    padding-left: 40px;
}

.descripcion {
    padding-left: 40px;
    font-size: 16px;
}


.inputs {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
}

.inputs label {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    text-align: left;
    margin-left: 20px;
    color: #5f6368;
    text-transform: uppercase;
}
.inputs input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    margin-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    padding: 10px;
}

.button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-update {
    padding: 7px 30px;
    font-size: 14px;
    background-color: transparent;
    border-radius: 20px;
    text-decoration: none;
    border: none;
    border-style: solid;
    border-color: coral;
    border-width: 2px;
}


.errors {
    margin-left: 20px;
    margin-top: 5px;
}

.message-error {
    font-size: 12px;
    color: red;
}